# Build and dependencies
/target/
!.mvn/wrapper/maven-wrapper.jar

# Maven files
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# TestNG results
test-output/
surefire-reports/

# VS Code
.vscode/

# Temp files
*.log
*.tmp
*.swp
*.bak

# Environment
*.env
.env*

# System files
.DS_Store
Thumbs.db

# API data
user-data.json